@model AirnetMVC.DataService.User
@{
    ViewBag.Title = "ViewUserDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">@Model.Username</h5>
        <h5 class="badge bg-secondary text-end">@Model.MobileNumber</h5>
        <p class="card-text">@Model.Email</p>
        <p class="card-text">@Model.UserRole</p>
    </div>
</div>

